pkgbase = jdt-language-server
	pkgdesc = Java language server
	pkgver = 0.11.0.201801040110
	pkgrel = 1
	url = https://github.com/eclipse/
	arch = any
	license = EPL
	makedepends = git
	depends = java-environment
	source = http://download.eclipse.org/jdtls/snapshots/jdt-language-server-0.11.0-201801040110.tar.gz
	sha256sums = 39f6a53cd5d0cfd06a7b0ff79b5c29708093dc62345903529ea96ee95c766e98

pkgname = jdt-language-server

