pkgbase = jdt-language-server
	pkgdesc = Java language server
	pkgver = 0.9.0.201711151401
	pkgrel = 1
	url = https://github.com/eclipse/
	arch = any
	license = EPL
	makedepends = git
	depends = java-environment
	source = http://download.eclipse.org/jdtls/snapshots/jdt-language-server-0.9.0-201711151401.tar.gz
	md5sums = 1e5097a7573621d6acb7c8733f1837ef

pkgname = jdt-language-server

