pkgbase = tmux-xpanes
	pkgdesc = Ultimate terminal divider powered by tmux
	pkgver = 2.0.2
	pkgrel = 1
	url = https://github.com/greymd/tmux-xpanes
	arch = any
	license = MIT
	depends = bash
	depends = tmux
	source = https://github.com/greymd/tmux-xpanes/archive/v2.0.2.tar.gz
	sha256sums = c6193050782e0ec89754d6d2945fc99d9ddbbcdaa7ebcb800ffa0a312de8c4ac

pkgname = tmux-xpanes

