pkgbase = mux
	pkgdesc = tmux session wrapper
	pkgver = 0.1.1
	pkgrel = 1
	url = https://github.com/terlar/mux
	arch = any
	license = MIT
	depends = bash
	depends = tmux
	source = https://github.com/terlar/mux/archive/v0.1.1.tar.gz
	sha256sums = 80e107dcd3281b4d747d564ea1f94a76d00643dd486a4d180587506d6f415e76

pkgname = mux

