pkgbase = fish-plug
	pkgdesc = A simple plugin manager for fish
	pkgver = 0.1.1
	pkgrel = 1
	url = https://github.com/terlar/fish-plug
	arch = any
	license = MIT
	depends = fish
	source = https://github.com/terlar/fish-plug/archive/v0.1.1.tar.gz
	md5sums = 1f05c3e704cb1da914b8fc6d9723292c

pkgname = fish-plug

