pkgbase = fish-plug
	pkgdesc = A simple plugin manager for fish
	pkgver = 0.1.1
	pkgrel = 1
	url = https://github.com/terlar/fish-plug
	arch = any
	license = MIT
	depends = fish
	source = https://github.com/terlar/fish-plug/archive/v0.1.1.tar.gz
	sha256sums = edbede90c15c89a5e0d598f389bf3451fc8f56a3d5a0b0862ed3d3c3f5aac0a3

pkgname = fish-plug

